In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import os
from io import BytesIO
from PIL import Image
import cv2
import re

In [17]:
df = pd.read_csv("submission_2509_rn34.csv")
df2 = pd.read_csv("submission_2509_rn34_3.csv")
df3 = pd.read_csv("submission_2809_rn34_1.csv")
df4 = pd.read_csv("submission_0110_rn34_5.csv")

In [18]:
df = df.merge(df2, on="UID").merge(df3, on="UID").merge(df4, on="UID", suffixes=["_z", "_k"])
df

           UID  growth_stage_x  growth_stage_y  growth_stage_z  growth_stage_k
0     F3LbWkZq        4.272794        4.398584        4.388025        4.888574
1     6P4wLVzI        3.482085        3.753106        3.272907        3.423400
2     Tn6HIrdS        3.101231        3.118136        3.079054        2.642600
3     EYM5R1TK        4.446132        4.442705        4.462505        4.226213
4     fkcevlA0        5.205008        5.330432        5.338374        5.644760
...        ...             ...             ...             ...             ...
3553  H9UastWl        3.847193        3.956824        4.062157        4.197179
3554  lXiDhZGC        6.038685        6.017645        5.483339        5.586095
3555  F0VDr9Zc        3.865473        4.327335        4.216900        4.084270
3556  3Fl5H12A        1.924649        2.006696        2.008209        2.013723
3557  Olx7gipM        7.000000        7.000000        7.000000        6.833509

[3558 rows x 5 columns]

In [12]:
df["pred"] = np.sqrt(np.mean([df["growth_stage_x"] ** 2, df["growth_stage_y"] ** 2, 
                              df["growth_stage_z"] ** 2, df["growth_stage_k"] ** 2], axis = 0))

In [13]:
df

,UID,growth_stage_x,growth_stage_y,growth_stage_z,growth_stage_k,pred
0,F3LbWkZq,4.272794,4.398584,4.388025,4.888574,4.493251
1,6P4wLVzI,3.482085,3.753106,3.272907,3.423400,3.487202
2,Tn6HIrdS,3.101231,3.118136,3.079054,2.642600,2.991835
3,EYM5R1TK,4.446132,4.442705,4.462505,4.226213,4.395468
4,fkcevlA0,5.205008,5.330432,5.338374,5.644760,5.382080
...,...,...,...,...,...,...
3553,H9UastWl,3.847193,3.956824,4.062157,4.197179,4.017922
3554,lXiDhZGC,6.038685,6.017645,5.483339,5.586095,5.786822
3555,F0VDr9Zc,3.865473,4.327335,4.216900,4.084270,4.127082
3556,3Fl5H12A,1.924649,2.006696,2.008209,2.013723,1.988661
3557,Olx7gipM,7.000000,7.000000,7.000000,6.833509,6.958751

In [14]:
df[["UID", "pred"]].to_csv("submission_0410_rn34_mean.csv", index=False, header=["UID", "growth_stage"])